.gallery {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.photo-conteiner {
    display: flex;
    align-items: center;
    width: 350px;
    height: 225px;
}

.photo-card {
    align-items: center;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: rgba(249, 250, 232, 0.829);
    border: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.photo-card img {
    display: block;
    width: 100%;
    max-height: 225px;
    margin-left: auto;
    margin-right: auto;
}

.info {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.info-item {
    display: flex;
    align-items: center;
    flex-direction: column;
}