<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homework 10</title>
    <link rel="stylesheet" href="./css/styles.css">
  </head>
  <body>
    <header class="header-styles">
      <form class="search-form" id="search-form">
        <input
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Search images..."
        />
        <button type="submit">Search</button>
        <button type="button" class="form-checkbox" name="buttonScroll">Scroll disable</button>
      </form>
    </header>
    <main>
      <div class="gallery">
        <!-- Картки зображень -->
      </div>
      <button type="button" class="load-more hidden">Load more</button>
    </main>
    
    <script src="./js/index.js" type="module"></script>
  </body>
</html>
